# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# IMPORTANT: Never commit this file!
backend/serviceAccountKey.json
backend/together.db
together.db


# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp
